

.header-container{
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 21px 0 24px 0;
  h2{
    color: #323334;
    font-family: Roboto,sans-serif;

    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.header-images:first-child {
    cursor: pointer;
}
