


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #F3F6FF;
  font-family: Roboto,sans-serif;
}
.active{
  color: lightblue;
  cursor: pointer;
}
.flex{
  display: flex;
}
.jc-b{
  justify-content: space-between;
}
.jc-center {
  justify-content: center;
}
.jc-end {
  justify-content: flex-end;
}
.ai-center {
  align-items: center;
}
.gap-1{
  gap: 16px;
}
.jc-start{
  justify-content: flex-start;
}


button{
  cursor: pointer;
}

select{
  background: #F3F6FF;
  option{
    background: #F3F6FF;
  }
}
