@import "scssVariables";

.search {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  position: relative;

  img {
    position: absolute;
    left: 26.3%;
  }

  input {
    width: 562.656px;
    height: 54px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 2px solid #050019;
    padding-left: 55px;
    font-family: Roboto;
    font-size: 16px;
  }

  button {
    width: 146.267px;
    height: 63px;
    color: white;
    background: $buttonVar;
    border: none;
  }
}
