@import "../scssVariables";
.BedsheetContainer {
  background-image: url("../../../public/assets/images/Bedsheet.png");
  background-size:cover ;
  background-repeat: no-repeat;
  padding: 115px 0 57px 0;
  display: grid ;
  grid-template-columns: repeat(2,1fr);
  .BedsheetContainerSmall{
    margin-left:  auto;
    background: rgba(249, 211, 112, 0.80);
    padding: 61px 0 56px 0;
    width: 545px;
    text-align: center;
    h2{
      color: #323334;
      font-family: Roboto,sans-serif;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    div{
      margin-top: 27px;
      gap: 27px;
      align-items: center;
      span:first-child{
        color: #7B5136;
        font-family: Roboto,sans-serif;

        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      span:last-child{
        color: #7B5136;
        text-decoration: line-through;
        font-family: Roboto,sans-serif;

        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    p{
      margin-top: 16px;
      color: #000;
      font-family: Roboto,sans-serif;

      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 22px;
    }
    button{
      border: $whiteVar;
      background: $buttonVar;
      color: $whiteVar;
      font-family: Roboto,sans-serif;

      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.45px;
      padding: 15px;
      margin-top: 20px;
    }
  }

}
